.about {
	display: flex;
	gap: 6.4rem;
}

.aboutleft {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 6.4rem;

	&__heading {
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
	}
}

.aboutright {
	width: 40%;
}

.skills {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

@media screen and (max-width: 768px) {
	.about {
		flex-direction: column;

		&left {
			width: 100%;
		}

		&right {
			width: 100%;
		}
	}
}
