.contact {
	display: flex;

	&left {
		width: 50%;
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
	}

	&right {
		width: 50%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
	}
}

@media screen and (max-width: 768px) {
	.contact {
		flex-direction: column;

		&left {
			width: 100%;
		}

		&right {
			width: 100%;
		}
	}
}
