.projects {
	display: flex;
	gap: 6.4rem;
}

.projectsleft {
	width: 35%;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.projectsright {
	width: 65%;
}

@media screen and (max-width: 768px) {
	.projects {
		flex-direction: column;

		&left {
			width: 100%;
		}

		&right {
			width: 100%;
		}
	}
}
