@mixin header-nav-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin page-padding {
	padding: $vert-padding $page-padding;
	@media screen and (max-width: 768px) {
		padding: $vert-padding 5vw;
	}
}

@mixin center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}
