// Typography
$black: #333;
$blue: #0074de;
$gray: #888;
$light-gray: #eee;

// Other
$page-padding: 10vw;
$navigation-height: 10rem;
$rest-min-height: calc(100vh - #{$navigation-height});
$vert-padding: 3.2rem;
$font: "Poppins", sans-serif;

@media screen and (max-width: 768px) {
	$page-padding: 0;
}
