@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.footer {
	&top {
		display: flex;
		gap: 10rem;
		padding: $vert-padding 0rem;
	}

	&bottom {
		border-top: 1px solid #aaa;
		padding-top: 3.2rem;

		&__text {
			font-size: 1.28rem;
		}
	}
}

.contact {
	&__heading {
		margin-bottom: 0.8rem;
	}

	&__list {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}
}

.navigation {
	&__heading {
		margin-bottom: 0.8rem;
	}

	&__list {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}
}

.services {
	&__heading {
		margin-bottom: 0.8rem;
	}

	&__list {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}
}

@media screen and (max-width: 768px) {
	.footertop {
		flex-direction: column;
		gap: 3.2rem;
		text-align: center;
	}
	.footerbottom {
		text-align: center;
	}
}
