@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.headernavigation {
	@include header-nav-flex;
	@include page-padding;
	height: $navigation-height;
	background-color: #eee;

	&__list {
		list-style: none;
		display: flex;
		gap: 10rem;
	}

	&__link {
		text-decoration: none;
	}

	&__activelink {
		text-decoration: none;
		color: #0074de;
	}
}
